<div class="col-sm-6">
    <select class="form-control" name="{{ select_name }}" id="{{ select_id }}" value="{{ select_value }}">
        {{ select_contents }}
    </select>
</div>
<div class="col-sm-2">
    {{ buttons }}
</div>
