<form method="post" action="{{ r.route_path('domain_create') }}">
    <div class="form-group">
        <label for="domain_name">Domain name</label>
        <input type="text" class="form-control" id="domain_name" aria-describedby="hostnameHelp"
               placeholder="domain.com" name="domain_name">
        <small id="hostnameHelp" class="form-text text-muted">Enter the domain name.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
