{% extends "domain_list_child.jinja2" %}
{% block extra_head %}
{% endblock %}
{% block content %}
<table class="table" id="domain-table">
<thead>
<tr><th>Org</th><th>Name</th><th>No. of Hosts</th></tr>
</thead>
{% for domain in domains %}
    <tr><TD>{{ domain.organization.name }}</TD><td><a href="{{ route_path('domain', id=domain.id) }}">{{ domain.name }}</a></td><td>{{ domain.hosts|length }}</tr>
{% endfor %}
</table>
{% endblock %}
