{% extends "templates/main_child.jinja2" %}
{% block content %}
    <div class="container">
        <div class="row col-sm-12">
            <h1> {{ entity.name }} </h1>
        </div>
        <div class="row col-sm-12">
            Organization: <a
                href="{{ route_path('organization', id=entity.organization.id) }}">{{ entity.organization.name }}</a>
        </div>
        <div class="row col-sm-12">

            <table class="table">
                {% for host in entity.hosts %}
                    <tr>
                        <td><a href="{{ route_path('host', id=host.id) }}">{{ host.name }}</a></td>
                        <td> {{ host.email_addresses|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
