{% extends "main_child.jinja2" %}
{% block extra_head %}
<script>
engage()
</script>
{% endblock %}
{% block content %}
<table class="table" id="domain-table">
<thead>
<tr><th>Name</th><th>No. of Hosts</th></tr>
</thead>
{% for domain in domains %}
    <tr><td><a href="{{ r.route_path('domain', id=domain.id) }}">{{ domain.name }}</a></td><td>{{ domain.hosts|length }}</tr>
{% endfor %}
</table>
{% endblock %}
