<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" > <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" > <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" > <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" > <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Output Management</title>

  
  

  
</head>
<body>






<div id="main">{% block main %}{% endblock %}</div>
<div id="footer" class="container row sm-row-12">
    {% block footer %}
        &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>




<!-- z -->
<script src="../static/app.bundle.js"></script>





</body>
</html>
