<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="list-group">
            {% for x in r.root.data %}
                <li class="list-group-item tk-trajan-sans-pro">{{ r.root[x].title }}</li>
                {% for y in r.root[x].resource_manager._ops %}
                    <li class="list-group-item" style="padding-left: 3.25rem"><a
                            href="{{ r.root[x].url() }}{{ y._name }}">{{ y._name }}</a></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</nav>
