<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            {% for x in r.root %}
            <li class="nav-item">
                <a class="nav-link" href="{{ r.root[x].path() }}">
                    {{ r.root[x].title }}
                </a>

            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
