import jQuery from "jquery";
window.$ = window.jQuery = jQuery;
import 'popper.js';
import 'bootstrap';
import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'

{% if entry_point_js %}
{{ entry_point_js }}
{% endif %}
