{% extends "templates/main_child.jinja2" %}
{% block content %}
    <div class="container">
        <div class="row col-sm-12">
            <h1>{{ entity.name }}</h1>
        </div>
        {% if entity.children|length > 0 %}
            <div class="row col-sm-12">
                <h2>Child Organizations</h2>
            </div>
            <div class="row col-sm-12">
                <ul class="list-group">
                    {% for org in entity.children %}
                        <li class="list-group-item"><a
                                href="{{ route_path('organization', id=org.id) }}">{{ org.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="row col-sm-12">
        <table class="table">
            {% for org_role in entity.roles %}
            <tr><td>{{ org_role.role.name }}</td></tr>
            {%  endfor %}
        </table>
        </div>
        <div class="row col-sm-12">
            <h2>Persons</h2>
        </div>
        <div class="row col-sm-12">
            <ul class="list-group">
                {% for person in entity.persons %}
                    <li class="list-group-item"><a
                            href="{{ route_path('person', id=person.person.id) }}">{{ person.person.name }}</li></a>
                {% endfor %}
            </ul>
        </div>
        <div class="row col-sm-12">
            <h2>Domains</h2>
        </div>
        <div class="row col-sm-12">
            <ul class="list-group">
                {% for domain in entity.domains %}
                    <li class="list-group-item"><a
                            href="{{ route_path('DomainView', id=domain.id) }}">{{ domain.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
