{% if hosts|length > 0 %}
  <select id="host-select" name="host_id">
      {% for host in hosts %}
    <option value="{{ host.id }}">{{ host.name }}</option>
    {% endfor %}
  </select>
  {% endif %}
