{% extends "templates/main_child.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-sm-2">Host</div>
        <div class="col-sm-1">ID: {{ entity.id }}</div>
        <div class="col-sm-6">{{ entity.name }}</div>
    </div>
    <table class="table">
    {% for add in entity.email_addresses %}
    <tr><td>{{add.name}}@{{add.host.name}}</td></tr>
    {% endfor %}
    </table>
    
{% endblock content %}