{% extends "templates/main_child.jinja2" %}
{% block content %}
<table class="table">
<thead>
<tr><th>Name</th><th>Port</th><th>Protocol</th><th>Description</th></tr>
</thead>
{% for s in services %}
    <tr><td><a href="{{ route_path('service', id=s.id)}}">{{ s.name }}</a></td><td>{{ s.port_num }}</td><td>{{ s.protocol_name }}</td><td>{{ s.description }} </td></tr>
{% endfor %}
</table>
{% endblock %}
